.svn*
/*
!/*.csproj
!/NPLPackageParacraft.sln
!/.git*
!/*.md
!/package.npl
!/LICENSE
!/script/
/script/*
script/ide
!/script/apps
/script/apps/*
!/script/apps/Aries/
/script/apps/Aries/*
!/script/apps/Aries/SlashCommand/
/script/apps/Aries/SlashCommand/*
!/script/apps/Aries/SlashCommand/SlashCommand.lua
!/script/apps/Aries/Creator
!/script/apps/Aries/app_main.lua
!script/kids/
script/kids/*
!script/kids/3DMapSystemApp
script/kids/3DMapSystemApp/*
!script/kids/3DMapSystemApp/mcml
!script/kids/3DMapSystemApp/localserver
!/config/
/config/*
!/config/Aries
/config/Aries/*
!/config/Aries/creator
/config/Aries/creator/blocktemplates
!/config/Aries/Audio
/config/Aries/Audio/*
!/config/Aries/Audio/CreatorSound.bank.xml
