.svn*
/*
!/*.csproj
!/NPLPackageParacraft.sln
!/.git*
!/*.md
!/package.npl
!/LICENSE
!/script/
/script/*
script/ide
!/script/apps
/script/apps/*
!/script/apps/Aries/
/script/apps/Aries/*
!/script/apps/Aries/SlashCommand/
/script/apps/Aries/SlashCommand/*
!/script/apps/Aries/SlashCommand/SlashCommand.lua
!/script/apps/Aries/Creator
!/script/apps/Aries/app_main.lua
!/script/apps/Aries/KeySettings.lua
!/script/apps/Aries/main_loop.lua
!/script/apps/Aries/IP.xml
!/script/apps/Aries/mcml/

!/script/apps/Aries/BBSChat/
/script/apps/Aries/BBSChat/*
!/script/apps/Aries/BBSChat/SentenceHistory.lua
!/script/apps/Aries/BBSChat/ChatSystem/
/script/apps/Aries/BBSChat/ChatSystem/*
!/script/apps/Aries/BBSChat/ChatSystem/ChatChannel.lua

!/script/apps/Aries/Scene/
/script/apps/Aries/Scene/*
!/script/apps/Aries/Scene/WorldManager.lua

!/script/apps/Aries/Partners/
/script/apps/Aries/Partners/*
!/script/apps/Aries/Partners/PartnerPlatforms.lua
!/script/apps/Aries/Partners/keepwork/

!/script/kids/
/script/kids/*
!/script/kids/3DMapSystem_Data.lua
!/script/kids/3DMapSystem_Misc.lua
!/script/kids/event_handlers.lua
!/script/kids/pw_sandbox_file.lua
!/script/kids/3DMapSystemAnimation/
/script/kids/3DMapSystemAnimation/*
!/script/kids/3DMapSystemAnimation/AnimationManager.lua
!/script/kids/3DMapSystemData/
!/script/kids/3DMapSystemItem/

!/script/kids/3DMapSystemUI/
/script/kids/3DMapSystemUI/*
!/script/kids/3DMapSystemUI/*.lua
!/script/kids/3DMapSystemUI/Animation/
!/script/kids/3DMapSystemUI/Desktop/
/script/kids/3DMapSystemUI/Desktop/*
!/script/kids/3DMapSystemUI/Desktop/*.lua
!/script/kids/3DMapSystemUI/ScreenShot/
/script/kids/3DMapSystemUI/ScreenShot/*
!/script/kids/3DMapSystemUI/ScreenShot/*.lua
!/script/kids/3DMapSystemUI/MiniGames/
/script/kids/3DMapSystemUI/MiniGames/*
!/script/kids/3DMapSystemUI/MiniGames/app_main.lua
!/script/kids/3DMapSystemUI/MiniGames/SwfLoadingBarPage.lua

!/script/kids/3DMapSystemApp
/script/kids/3DMapSystemApp/*
!/script/kids/3DMapSystemApp/Assets
!/script/kids/3DMapSystemApp/worlds
/script/kids/3DMapSystemApp/worlds/*
!/script/kids/3DMapSystemApp/worlds/*.lua
!/script/kids/3DMapSystemApp/localserver
!/script/kids/3DMapSystemApp/localserver
!/script/kids/3DMapSystemApp/API

!/config/
/config/*
!/config/Aries
/config/Aries/*
!/config/Aries/creator
!/config/Aries/Audio
/config/Aries/Audio/*
!/config/Aries/Audio/CreatorSound.bank.xml
test*.*
test/
_obsoleted/
obsoleted/

!script/apps/Aries/VIP/PurChaseMagicBean.teen.lua
!script/apps/Aries/Login/AccountUserSelectPage.teen.html
!script/apps/Aries/Login/LocalUserSelectPage.teen.html
!script/apps/Aries/Login/UserLoginPage.teen.html
!script/apps/Aries/Desktop/Functions/RechargeGuide.teen.html
