<!-- "script/apps/Aries/Creator/Game/Tasks/ParaWorld/ParaWorldList.html" -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <pe:mcml>
        <script refresh="false" type="text/npl" src="ParaWorldList.lua">
            <![CDATA[
            ParaWorldList = NPL.load("(gl)script/apps/Aries/Creator/Game/Tasks/ParaWorld/ParaWorldList.lua");
            ParaWorldList.OnInit();
            local lastText = "";

            function GetWorldPreview()
                local url = Eval("cover");
                if (url) then
                    return url;
                else
                    return "Texture/Aries/Creator/keepwork/ParaWorld/tupiandi2_32X32_32bits.png#0 0 32 32:8 8 8 8";
                end
            end

            function GetSettleString()
                local count = Eval("settleCount");
                local total = 96;
                return string.format("%d/%d", count, total);
            end

            function InputKeyWorld(name, mcmlNode)
                local text = mcmlNode:GetUIValue();
                if (lastText ~= text) then
                    lastText = text;
                    ParaWorldList.SeachParaWorld(text, nil);
                end
            end

            ]]>
        </script>
        <kp:window width="860" height="560" onclose="ParaWorldList.OnClose">
            <div style="margin-left:20px;margin-top:7px;width:96px;height:25px;background:url(Texture/Aries/Creator/keepwork/ParaWorld/zi_bingxing_96X25_32bits.png#0 0 96 25);"></div>
            <div style="margin-left:10px;margin-top:20px;color:#000000;">
                <div style="float:left;margin-left:4px;text-align:left;color:#000000;">
                    <select name="province" style="margin-left:10px;width:120px;height:28px;" DataSource="<%=ParaWorldList.provinces%>" onselect="ParaWorldList.SelectProvince"></select>
                    <select name="city" DataSource="<%=ParaWorldList.cities%>" style="margin-left:15px;width:120px;height:28px;" onselect="ParaWorldList.SelectCity"></select>
                    <select name="area" DataSource="<%=ParaWorldList.areas%>" style="margin-left:15px;width:120px;height:28px;" onselect="ParaWorldList.SelectArea"></select>
                </div>
                <input type="text" name="seach_text" onchange="InputKeyWorld" EmptyText='<%=L"请输入并行世界名称搜索"%>' value="" class="mc_text" style="float:left;width:300px;height:28px;margin-left:78px;" />
            </div>
            <div style="margin-left:0px;margin-top:-10px;">
                <pe:gridview style="width:860px;height:460px;" name="item_gridview" CellPadding="20" VerticalScrollBarStep="36" VerticalScrollBarOffsetX="0" AllowPaging="false" ItemsPerLine="3" DefaultNodeHeight="166"
                             DataSource='<%=ParaWorldList.Current_Item_DS%>'>
                    <Columns>
                        <div name='<%= Eval("index")%>' onclick="ParaWorldList.OnClickItem" style="<%= 'margin-left:7px;margin-top:7px;width:240px;height:128px;background:url(' .. GetWorldPreview() .. ')' %>">
                            <div name='<%= Eval("index")%>' onclick="ParaWorldList.OnClickItem" style="margin-left:-7px;margin-top:-7px;width:254px;height:142px;background:url(Texture/Aries/Creator/keepwork/ParaWorld/tupiandi_32X32_32bits.png#0 0 32 32:12 12 12 12);"></div>
                            <pe:if condition='<%=Eval("top")==true%>'>
                                <div zorder="1" style="margin-left:202px;margin-top:-140px;width:43px;height:47px;background:url(Texture/Aries/Creator/keepwork/ParaWorld/zhiding_43X47_32bits.png#0 0 43 47);"></div>
                            </pe:if>
                        </div>
                        <div style="float:left;position:relative;margin-top:-30px;padding-right:10px;width:240px;text-align:right;base-font-size:16px;font-size:16px;shadow-quality:8;color:#ffffff;shadow-color:#000000;text-shadow:true"><%= GetSettleString()%></div>
                        <div style="float:left;position:relative;margin-top:6px;width:240px;height:20px;text-align:center;base-font-size:16px;font-size:16px;color:#000000"><%= Eval("name")%></div>
                    </Columns>
                    <EmptyDataTemplate>
                    </EmptyDataTemplate>
                </pe:gridview>
            </div>

        </kp:window>
    </pe:mcml>
</body>
</html>

