<!-- "script/apps/Aries/Creator/Game/Tasks/Friend/FriendsPage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
<pe:mcml>
<script refresh="true" type="text/npl" src="FriendsPage.lua"><![CDATA[
local FriendsPage = NPL.load("(gl)script/apps/Aries/Creator/Game/Tasks/Friend/FriendsPage.lua");
FriendsPage.OnInit()
function ClosePage()
    Page:CloseWindow();
end
function OnChange(index)
    FriendsPage.OnChange(index);
end
function IsSelected(index)
    return FriendsPage.index == index;
end
function DS_Items(index)
    if(index == nil) then
        return #FriendsPage.Current_Item_DS;
    else
        return FriendsPage.Current_Item_DS[index];
    end
end
function ClickItem(index)
    FriendsPage.ClickItem(index)
end

function GetTimeDesc(time)
    print("xxxxxxxxxaaaaaa", time)
    return FriendsPage.GetTimeDesc(time)
end
]]></script>
<kp:window name="iframe" mode="lite" width="260" height="500" title='<%= L"好友"%>' onclose="ClosePage">
    <div style="color:#ffffff;padding-left:2px;padding-top:39px;padding-right:2px;padding-bottom:2px;">

    <div style="margin-left:13px;margin-top:5px;width:210px;">
        <div style="width:210px;height:27px;background:url(Texture/Aries/Creator/Desktop/Inventory_32bits.png#32 364 32 32:8 8 8 8);">
            <input type="text" EmptyText='<%=L"搜索: 请输入您要查找的账号"%>' name="block_search_text_ctl" uiname="block_search_text_obj" CaretColor="#FFFFFFFF" style="margin-top:2px;margin-left:5px;textcolor:#cccccc;height:25px;background:;" onmodify="SearchBlock" />
        </div>
    </div>

    <div>
        <pe:if condition='<%= IsSelected(1)%>'>
            <input type="button" name="1" value='<%=L"最近联系"%>' onclick="OnChange" tooltip='<%=L"最近联系"%>' style="width:80px;margin-left:2px;color:#ffffff;" class="mc_blue_button_with_fillet"/>
        </pe:if>
        <pe:if condition='<%= not IsSelected(1)%>'>
            <input type="button" name="1" value='<%=L"最近联系"%>' onclick="OnChange" tooltip='<%=L"最近联系"%>' style="width:80px;margin-left:2px;" class="mc_light_grey_button_with_fillet"/>
        </pe:if>
        <pe:if condition='<%= IsSelected(2)%>'>
            <input type="button" name="2" value='<%=L"好友"%>' onclick="OnChange" tooltip='<%=L"好友"%>' style="width:50px;margin-left:2px;color:#ffffff;" class="mc_blue_button_with_fillet"/>
        </pe:if>
        <pe:if condition='<%= not IsSelected(2)%>'>
            <input type="button" name="2" value='<%=L"好友"%>' onclick="OnChange" tooltip='<%=L"好友"%>' style="width:50px;margin-left:2px;" class="mc_light_grey_button_with_fillet"/>
        </pe:if>
        <pe:if condition='<%= IsSelected(3)%>'>
            <input type="button" name="3" value='<%=L"关注"%>' onclick="OnChange" tooltip='<%=L"关注"%>' style="width:50px;margin-left:2px;color:#ffffff;" class="mc_blue_button_with_fillet"/>
        </pe:if>
        <pe:if condition='<%= not IsSelected(3)%>'>
            <input type="button" name="3" value='<%=L"关注"%>' onclick="OnChange" tooltip='<%=L"关注"%>' style="width:50px;margin-left:2px;" class="mc_light_grey_button_with_fillet"/>
        </pe:if>
        <pe:if condition='<%= IsSelected(4)%>'>
            <input type="button" name="4" value='<%=L"粉丝"%>' onclick="OnChange" tooltip='<%=L"粉丝"%>' style="width:50px;margin-left:2px;color:#ffffff;" class="mc_blue_button_with_fillet"/>
        </pe:if>
        <pe:if condition='<%= not IsSelected(4)%>'>
            <input type="button" name="4" value='<%=L"粉丝"%>' onclick="OnChange" tooltip='<%=L"粉丝"%>' style="width:50px;margin-left:2px;" class="mc_light_grey_button_with_fillet"/>
        </pe:if>
        
    </div>

    <div type ="box" style="width:270px;height:380px">
           <div style="margin-top:0px;">
            <pe:gridview style="margin:0px;width:270px;height:400px;" name="item_gridview" CellPadding="12" VerticalScrollBarStep="36" VerticalScrollBarOffsetX="8" AllowPaging="false" ItemsPerLine="1" DefaultNodeHeight = "35" 
                DataSource='<%=DS_Items%>'>
	            <Columns>
                        <div style="color:#ffffff">
                            <a style="width:240x;height:30px;margin:0px;padding:0px;background:;"
                               onclick="ClickItem" param1='<%=Eval("nid")%>'>
                                <input type="button" Normal_BG="" onclick="ClickItem" param1='<%= XPath("this") %>' MouseOver_BG='<%=Eval("mouseover_bg")%>' alwaysmouseover="true" style="position:relative;margin-top:0px;width:240px;height:30px;background:;" />
                                <div style="position:relative;margin-left:0px;margin-top:0px;padding-left:5px;padding-top:2px;width:240px;height:30px;">
                                    <!-- <a width="32" height="26" style="padding-left:0px;padding-top:2px;background:;"
                                       onclick="ClickItem" param1='<%=Eval("nid")%>'>
                                        <aries:onlinestatus width="240" height="26" nid='<%=Eval("nid")%>' />
                                    </a> -->
                                    <div style="float: left;margin-left:0px;margin-top:0px;">
                                        <img zorder="0" src='<%=Eval("icon")%>'width="28" height="28"/>
                                    </div>
                                    <div style="float: left;margin-left:8px;margin-top:5px;width:60px;font-size:12pt;color:#000000">
                                        <%=Eval("name") %>
                                    </div>
                                    <div style="float: left;margin-left:23px;margin-top:5px;width:100px;font-size:12pt;color:#000000;text-align: right;">
                                        <%=GetTimeDesc(Eval("time")) %>
                                    </div>
                                    <!-- <input type="button" zorder="1" style="float:right;margin-left:-5px;margin-top:-1px;width:32px;height:32px;background:Texture/Aries/Friends/FriendsWnd_Phone2_32bits.png" onclick="OnClickPhone()" name='<%=Eval("nid")%>' /> -->
                                </div>
                            </a>
                        </div>
                </Columns>
	            <EmptyDataTemplate>
	            </EmptyDataTemplate>
            </pe:gridview>
        </div>
    </div>

    <div type ="box" style="margin-bottom:0px;">
        <input type="button" name="last" value="添加好友" onclick="" tooltip="添加好友"/>
        <input type="button" name="last" value="好友申请" onclick="" tooltip="好友申请"/>
    </div>
</div>
    
</aries:window>
</pe:mcml>
</body>
</html>

