<!-- "script/apps/Aries/Creator/Game/Network/Admin/ClassManager/ClassListPage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <pe:mcml>
        <script refresh="false" type="text/npl" src="ClassListPage.lua">
            <![CDATA[
            ClassListPage = NPL.load("(gl)script/apps/Aries/Creator/Game/Network/Admin/ClassManager/ClassListPage.lua");
            ClassListPage.OnInit();
            ]]>
        </script>
        <aries:window mode="thin" style="width:370px;height:230px" title='<%= L"上课"%>' onclose="ClassListPage.OnClose">
            <div style="width:370px;height:230px;">
                <div style="margin-left:20px;margin-top:40px;height:24px;width:480px;text-align:left;color:#ffffff;font-size:13px">
                    <%=L"上课班级" %>
                    <select name="ClassList"
                            DataSource="<%=ClassListPage.GetClassList()%>"
                            style="margin-left:6px;margin-top:-2px;height:23px;width:240px;">
                    </select>
                </div>
                <div style="margin-left:20px;margin-top:20px;height:24px;width:480px;text-align:left;color:#ffffff;font-size:13px">
                    <%=L"世界ID" %>
                    <select name="WorldList"
                            DataSource="<%=ClassListPage.GetWorldList()%>"
                            EmptyText='<%= L"请输入世界ID" %>'
                            class="bbs_text text_field"
                            style="margin-left:24px;margin-top:-2px;height:23px;width:240px;">
                    </select>
                    <div style="margin-left:68px;margin-top:10px;text-align:left;color:#ff6a00;font-size:12px;">
                        <%=L"可以在下拉框中直接输入已知的世界ID" %>
                    </div>
                </div>
                <div style="margin-top:50px;">
                    <input type="button" name="OK" DefaultButton="true" style="margin-left:71px;min-width:84px;height:30px;" class="mc_big_button" onclick="ClassListPage.OnOK" value='<%=L"确定"%>' />
                    <input type="button" name="Cancel" DefaultButton="true" style="margin-left:60px;min-width:84px;height:30px;" class="mc_big_button" onclick="ClassListPage.OnClose" value='<%=L"取消"%>' />
                </div>
            </div>
        </aries:window>
    </pe:mcml>
</body>
</html>

