<html>
    <body>
        <pe:mcml>
            <script type="text/npl">
                <![CDATA[
                    NPL.load("(gl)script/apps/Aries/Creator/Game/Tasks/MakeAppTask.lua");
                    local MakeApp = commonlib.gettable("MyCompany.Aries.Game.Tasks.MakeApp");

                    local page = document:GetPageCtrl();
                    local platform = System.os.GetPlatform();
                    local build_platform = "";

                    function close()
                        page:CloseWindow();
                    end

                    function get_platform()
                        return platform;
                    end

                    function get_build_platform()
                        return build_platform;
                    end

                    -- ios
                    function ios()
                        if (get_platform() ~= "mac") then
                            _guihelper.MessageBox(L"请在mac平台下执行此操作");

                            return;
                        end

                        GameLogic.IsVip("MakeApk", true, function(result) 
                            if (result) then
                                build_platform = "ios";
                                page:SetValue("build_title", L"准备iOS开发环境");
                                page:SetValue("one_click_button", L"一键生成");
                                page:SetValue("step2_notice", get_build_folder());
                                ios_exec();
                            end
                        end);
                    end

                    function ios_exec()
                        local step1Controller = page:FindControl("step1");
                        local step2Controller = page:FindControl("step2");

                        step1Controller.visible = false;
                        step2Controller.visible = true;

                        -- check step
                        local currentEnterWorld = GameLogic.GetFilters():apply_filters("store_get", "world/currentEnterWorld");

                        if (ParaIO.DoesFileExist(MakeApp.iOSBuildRoot .. "Boost") and
                            ParaIO.DoesFileExist(MakeApp.iOSBuildRoot .. "NPLRuntime") and
                            ParaIO.DoesFileExist(MakeApp.iOSBuildRoot .. "CMake.app") and
                            ParaIO.DoesFileExist(MakeApp.iOSBuildRoot .. "build")) then

                            local p_step1_content_controller = page:FindControl("p_step1_content");
                            local p_step2_button_controller = page:FindControl("p_step2_button");

                            p_step1_content_controller.visible = true;
                            p_step2_button_controller.visible = true;

                            if (ParaIO.DoesFileExist(MakeApp.iOSBuildRoot .. "NPLRuntime/NPLRuntime/Platform/iOS/assets/worlds/DesignHouse/" .. currentEnterWorld.foldername)) then
                                page:SetValue("step3_content", "点击...打开工程");

                                local p_step2_content_controller = page:FindControl("p_step2_content");
                                local p_step3_button_controller = page:FindControl("p_step3_button");
                                local p_step3_content_controller = page:FindControl("p_step3_content");

                                p_step2_content_controller.visible = true;
                                p_step3_button_controller.visible = true;
                                p_step3_content_controller.visible = true;
                                page:SetUIBackground("app_icon", get_app_icon());
                            end
                        end
                    end

                    -- android
                    function android()
                        if (get_platform() ~= "win32") then
                            _guihelper.MessageBox(L"请在windows平台下执行此操作");

                            return;
                        end

                        GameLogic.IsVip("MakeApk", true, function(result) 
                            if(result) then
                                build_platform = "android";
                                page:SetValue("build_title", L"准备安卓开发环境");
                                page:SetValue("step2_notice", get_build_folder());
                                android_exec();
                            end
                        end);
                    end

                    function android_exec()
                        local step1Controller = page:FindControl("step1");
                        local step2Controller = page:FindControl("step2");

                        step1Controller.visible = false;
                        step2Controller.visible = true;

                        -- check pacakge step
                        local currentEnterWorld = GameLogic.GetFilters():apply_filters("store_get", "world/currentEnterWorld");

                        if (ParaIO.DoesFileExist(MakeApp.androidBuildRoot .. "paracraft_ver" .. MakeApp.curAndroidVersion .. "/")) then
                            local p_step1_content_controller = page:FindControl("p_step1_content");
                            local p_step2_button_controller = page:FindControl("p_step2_button");

                            p_step1_content_controller.visible = true;
                            p_step2_button_controller.visible = true;

                            local world_path = MakeApp.androidBuildRoot .. "paracraft_ver" .. MakeApp.curAndroidVersion .. "/assets/worlds/DesignHouse/" .. commonlib.Encoding.Utf8ToDefault(currentEnterWorld.foldername) .. "/";
                            local world_zip = MakeApp.androidBuildRoot .. "paracraft_ver" .. MakeApp.curAndroidVersion .. "/assets/worlds/DesignHouse/" .. commonlib.Encoding.Utf8ToDefault(currentEnterWorld.foldername) .. ".zip";
                            local is_world_path_exist = false;
                            local is_world_zip_exist = false;

                            if (ParaIO.DoesFileExist(world_path)) then
                                is_world_path_exist = true;
                            end

                            if (ParaIO.DoesFileExist(world_zip)) then
                                is_world_zip_exist = true;
                            end

                            if (is_world_path_exist or is_world_zip_exist) then
                                local p_step2_content_controller = page:FindControl("p_step2_content");
                                local p_step3_button_controller = page:FindControl("p_step3_button");

                                p_step2_content_controller.visible = true;
                                p_step3_button_controller.visible = true;

                                page:SetUIBackground("app_icon", get_app_icon());

                                if (is_world_zip_exist) then
                                    page:SetValue("copy_read_only_world", true);
                                end

                                if (ParaIO.DoesFileExist(MakeApp.androidBuildRoot .. "paracraft_ver" .. MakeApp.curAndroidVersion .. "_pack.apk")) then
                                    page:SetValue("step3_content", "paracraft_ver" .. MakeApp.curAndroidVersion .. "_pack.apk");
                                    local p_step3_content_controller = page:FindControl("p_step3_content");

                                    p_step3_content_controller.visible = true;
                                end
                            end
                        end
                    end

                    -- windows
                    function windows()
                        if (get_platform() ~= "win32") then
                            _guihelper.MessageBox(L"请在windows平台下执行此操作");

                            return;
                        end

                        local MakeApp = commonlib.gettable("MyCompany.Aries.Game.Tasks.MakeApp");
                        local task = MyCompany.Aries.Game.Tasks.MakeApp:new();

                        task:MakeWindows();
                    end

                    function get_world_name()
                        local currentEnterWorld = GameLogic.GetFilters():apply_filters("store_get", "world/currentEnterWorld");

                        if (currentEnterWorld and currentEnterWorld.text) then
                            return currentEnterWorld.text;
                        else
                            return "";
                        end
                    end

                    function get_notice()
                        return L"你可以在这一步编辑文件，在本地下载离线资源到temp/cache，改APP的图标等";
                    end

                    function p_step1(callback)
                        if (build_platform == "android") then
                            MakeApp:AndroidDownloadApk(function()
                                MakeApp:AndroidDownloadTools(function()
                                    MakeApp:AndroidDecodeApk(function()
                                        local p_step1_content_controller = page:FindControl("p_step1_content");
                                        local p_step2_button_controller = page:FindControl("p_step2_button");

                                        p_step1_content_controller.visible = true;
                                        p_step2_button_controller.visible = true;

                                        if (callback and type(callback) == "function") then
                                            callback();
                                        end
                                    end)
                                end);
                            end);
                        elseif (build_platform == "ios") then
                            MakeApp:iOSCheckENV(function(result)
                                if (result) then
                                    MakeApp:iOSBuildProject(function()
                                        local p_step1_content_controller = page:FindControl("p_step1_content");
                                        local p_step2_button_controller = page:FindControl("p_step2_button");

                                        p_step1_content_controller.visible = true;
                                        p_step2_button_controller.visible = true;

                                        if (callback and type(callback) == "function") then
                                            callback();
                                        end
                                    end);
                                end
                            end);
                        end
                    end

                    function p_step2(callback)
                        local p_step2_content_controller = page:FindControl("p_step2_content");
                        local p_step3_button_controller = page:FindControl("p_step3_button");
                        local copy_read_only_world = page:GetValue("copy_read_only_world");
                        local be_auto_update = page:GetValue("be_auto_update");
                        local be_auto_update_world = page:GetValue("be_auto_update_world");
                        local login_enable = page:GetValue("login_enable");

                        if (build_platform == "android") then
                            MakeApp:AndroidUpdateManifest(function()
                                MakeApp:AndroidCopyWorld(
                                    copy_read_only_world,
                                    be_auto_update,
                                    be_auto_update_world,
                                    login_enable,
                                    function()
                                        p_step2_content_controller.visible = true;
                                        p_step3_button_controller.visible = true;

                                        page:SetUIBackground("app_icon", get_app_icon());

                                        if (callback and type(callback) == "function") then
                                            callback();
                                        end
                                    end
                                )
                            end)
                        elseif (build_platform == "ios") then
                            MakeApp:iOSCopyCurWorldToProject(
                                copy_read_only_world,
                                be_auto_update,
                                be_auto_update_world,
                                login_enable,
                                function()
                                    p_step2_content_controller.visible = true;
                                    p_step3_button_controller.visible = true;

                                    page:SetUIBackground("app_icon", get_app_icon());

                                    if (callback and type(callback) == "function") then
                                        callback();
                                    end
                                end
                            );
                        end
                    end

                    function click_p_step3()
                        p_step3(function()
                            _guihelper.MessageBox(L"执行完成");
                        end)
                    end

                    function p_step3(callback)
                        if (get_build_platform() == "android") then
                            MakeApp:AndroidGenerateApk(function()
                                MakeApp:AndroidSignApkWrapper(function()
                                    page:SetValue("step3_content", "paracraft_ver" .. MakeApp.curAndroidVersion .. "_pack.apk");
                                    local p_step3_content_controller = page:FindControl("p_step3_content");
                                    p_step3_content_controller.visible = true;
                                end)
                            end)
                        elseif (get_build_platform() == "ios") then
                            MakeApp:CopyIconToProject(function()
                                page:SetValue("step3_content", "点击...打开工程");
                                local p_step3_content_controller = page:FindControl("p_step3_content");
                                p_step3_content_controller.visible = true;

                                if (callback and type(callback) == "function") then
                                    callback();
                                end
                            end);
                        end
                    end

                    function one_click()
                        p_step1(function()
                            p_step2(function()
                                p_step3();
                            end);
                        end);
                    end

                    function open_build_world_folder()
                        if (get_build_platform() == "android") then
                            local currentEnterWorld = GameLogic.GetFilters():apply_filters("store_get", "world/currentEnterWorld");
                            local world_path = MakeApp.androidBuildRoot ..
                                            "paracraft_android_ver" ..
                                            MakeApp.curAndroidVersion ..
                                            "/assets/worlds/DesignHouse/" ..
                                            commonlib.Encoding.Utf8ToDefault(currentEnterWorld.foldername) ..
                                            "/";
                            local world_zip = MakeApp.androidBuildRoot ..
                                            "paracraft_android_ver" ..
                                            MakeApp.curAndroidVersion ..
                                            "/assets/worlds/DesignHouse/" ..
                                            commonlib.Encoding.Utf8ToDefault(currentEnterWorld.foldername) ..
                                            ".zip";

                            if (ParaIO.DoesFileExist(world_path)) then
                                System.App.Commands.Call("File.WinExplorer", world_path);
                            else
                                if (ParaIO.DoesFileExist(world_zip)) then
                                    System.App.Commands.Call(
                                        "File.WinExplorer",
                                        MakeApp.androidBuildRoot ..
                                        "paracraft_android_ver" ..
                                        MakeApp.curAndroidVersion ..
                                        "/assets/worlds/DesignHouse/"
                                    );
                                end
                            end
                        elseif (get_build_platform() == "ios") then
                            local currentEnterWorld = GameLogic.GetFilters():apply_filters("store_get", "world/currentEnterWorld");
                            local world_path = ParaIO.GetWritablePath() ..
                                               MakeApp.iOSBuildRoot ..
                                               "NPLRuntime/NPLRuntime/Platform/iOS/assets/worlds/DesignHouse/" ..
                                               currentEnterWorld.foldername ..
                                               "/";

                            System.App.Commands.Call("File.WinExplorer", world_path);
                        end
                    end

                    function open_temp_folder()
                        if (get_build_platform() == "ios") then
                            MakeApp:iOSOpenProject();
                        elseif (get_build_platform() == "android") then
                            System.App.Commands.Call("File.WinExplorer", MakeApp.androidBuildRoot);
                        end
                    end

                    function get_build_folder()
                        if (get_build_platform() == "ios") then
                            return MakeApp.iOSBuildRoot .. "build/";
                        elseif (get_build_platform() == "android") then
                            return MakeApp.androidBuildRoot .. "paracraft_android_ver" .. MakeApp.curAndroidVersion .. "/";
                        end
                    end

                    function need_updated()
                        if (not MakeApp.localAndroidVersion or
                            MakeApp.curAndroidVersion == MakeApp.localAndroidVersion) then
                            return false;
                        else
                            return true;
                        end
                    end

                    function get_update_notice()
                        return format(L"(有更新ver%s)", MakeApp.curAndroidVersion);
                    end

                    function GetIconPath()
                        if (get_build_platform() == "android") then
                            local currentEnterWorld = GameLogic.GetFilters():apply_filters("store_get", "world/currentEnterWorld");
                            local world_path = currentEnterWorld.worldpath;
                            local icon_path = world_path .. "icon.png";
                            
                            return icon_path
                        elseif (get_build_platform() == "ios") then
                            local currentEnterWorld = GameLogic.GetFilters():apply_filters("store_get", "world/currentEnterWorld");
                            local world_path = currentEnterWorld.worldpath;
                            local icon_path = world_path .. "icon.png";

                            return icon_path
                        end
                    end

                    function OnClickOpenIconFolder()
                        local icon_path = GetIconPath():gsub("[^/\\]+$", "")
                        ParaIO.CreateDirectory(icon_path)
                        System.App.Commands.Call("File.WinExplorer", icon_path);
                    end

                    function get_app_icon()
                        local icon_path = GetIconPath()

                        if (ParaIO.DoesFileExist(icon_path)) then
                            return icon_path;
                        else
                            return  "Texture/alphadot.png";
                        end
                    end
                ]]>
            </script>
            <pe:container
                name="step1"
                visible="true"
                style="position: relative;
                       background:;">
                <kp:window width="600"
                           height="450"
                           title="<%= L'请选择' %>"
                           onclose="close()">
                    <div style="height: 40px;"></div>
                    <div style="padding: 15px;">
                        <div style="font-size: 18px;
                                    base-font-size: 18px;
                                    margin-bottom: 60px;">
                            <div>
                                <%= format(L"准备发布世界《%s》", get_world_name()) %>
                            </div>
                            <div>
                                <%= L"请选择你要发布的平台" %>
                            </div>
                        </div>
                        <div style="text-align: center;
                                    font-size: 18px;
                                    base-font-size: 18px;">
                            <div style="float: left;
                                        width: 190px;">
                                <div style="width: 112px;
                                            height:128px;
                                            margin-bottom: 8px;"
                                            align="center">
                                    <input type="button"
                                            onclick="android()"
                                            style="width: 112px;
                                                    height: 128px;
                                                    background: url(Texture/Aries/Creator/paracraft/make_app_32bits.png#13 9 112 128)" />
                                </div>
                                <div style="margin-bottom: 4px;">Android</div>
                                <div style="color: #515151"><%= L"APK文件" %></div>
                            </div>
                            <div style="float: left;
                                        width: 190px;">
                                <div style="width: 105px;
                                            height:128px;
                                            margin-bottom: 8px;"
                                            align="center">
                                    <input type="button"
                                           onclick="windows()"
                                           style="width: 105px;
                                                  height: 106px;
                                                  margin-top: 11px;
                                                  background: url(Texture/Aries/Creator/paracraft/make_app_32bits.png#137 23 105 106)" />
                                </div>
                                <div style="margin-bottom: 4px;">Windows</div>
                                <div style="color: #515151"><%= L"EXE文件" %></div>
                            </div>
                            <div style="float: left;
                                        width: 190px;">
                                <div style="width: 128px;
                                            height:128px;
                                            margin-bottom: 8px;"
                                            align="center">
                                    <input type="button"
                                           onclick="ios()"
                                           style="width: 128px;
                                                  height: 128px;
                                                  background: url(Texture/Aries/Creator/paracraft/apple_32bits.png#0 0 256 256)" />
                                </div>
                                <div style="margin-bottom: 4px;">iOS</div>
                                <div style="color: #515151"><%= L"iOS工程" %></div>
                            </div>
                        </div>
                    </div>
                </kp:window>
            </pe:container>
            <pe:container name="step2"
                          visible="false"
                          style="position: relative;
                                 background:;" >
                <kp:window width="600"
                           height="500"
                           title="<%= L'生成独立应用程序' %>"
                           onclose="close()">
                    <div style="height: 40px;"></div>
                    <div style="padding: 20px;
                                padding-top: 8px;">
                        <div style="padding-left: 30px;
                                    font-size: 18px;
                                    base-font-size: 18px;
                                    margin-bottom: 5px;">
                            <label name="build_title"
                                   style="height: 24px;" />
                            <pe:if condition="<%= need_updated() %>">
                                <span style="color: #FF0000;"><%= get_update_notice() %></span>
                            </pe:if>
                        </div>
                        <div style="padding-left: 30px;
                                    margin-bottom: 5px;">
                            <input type="button"
                                   tooltip="<%= '点击执行：下载安装开发环境' %>"
                                   onclick="p_step1()"
                                   style="width: 55px;
                                          height: 60.5px;
                                          background: url(Texture/Aries/Creator/paracraft/make_app_32bits.png#137 132 110 121)" />
                        </div>
                        <pe:container name="p_step1_content"
                                      visible="false"
                                      style="background:;">
                            <div style="margin-bottom: 5px;">
                                <div style="float: left;">
                                    <img style="width: 44.1px;
                                                height: 36.4px;"
                                        src="Texture/Aries/Creator/paracraft/make_app_32bits.png#10 148 63 52" />
                                </div>
                                <div style="float: left;
                                            font-size: 18px;
                                            base-font-size: 18px;
                                            line-height: 36px;">
                                    <%= format(L"《%s》", get_world_name()) %>
                                </div>
                            </div>
                        </pe:container>
                        <pe:container name="p_step2_button"
                                      visible="false"
                                      style="background:;">
                            <div style="padding-left: 30px;
                                        margin-bottom: 5px;">
                                <div style="float: left;">
                                    <input type="button"
                                           tooltip="<%= '点击执行：复制世界文件到打包目录中' %>"
                                           onclick="p_step2()"
                                           style="width: 55px;
                                                  height: 60.5px;
                                                  background: url(Texture/Aries/Creator/paracraft/make_app_32bits.png#137 132 110 121)" />
                                </div>
                                <div style="float: left;
                                            margin-top: 5px;
                                            margin-left: 5px;
                                            font-size: 16px;
                                            base-font-size: 16px;">
                                    <div>
                                        <input name="copy_read_only_world"
                                               type="checkbox"
                                               style="margin-top: 3px;"
                                               checked="false" />
                                        <%= L"只读世界" %>
                                    </div>
                                    <div>
                                        <input name="be_auto_update_world"
                                               type="checkbox"
                                               style="margin-top: 3px;"
                                               checked="false" />
                                        <%= L"自动更新世界" %>
                                    </div>
                                    <div>
                                        <input name="be_auto_update"
                                               type="checkbox"
                                               style="margin-top: 3px;"
                                               checked="false" />
                                        <%= L"自动更新" %>
                                    </div>
                                    <div>
                                        <input name="login_enable"
                                               type="checkbox"
                                               style="margin-top: 3px;"
                                               checked="false" />
                                        <%= L"登录模式" %>
                                    </div>
                                </div>
                            </div>
                        </pe:container>
                        <pe:container name="p_step2_content"
                                      visible="false"
                                      style="background:;">
                            <div style="margin-bottom: 5px;">
                                <div style="float: left;"
                                     tooltip="<%= get_notice() %>">
                                    <img style="width: 44.1px;
                                                height: 36.4px;"
                                         src="Texture/Aries/Creator/paracraft/make_app_32bits.png#10 148 63 52" />
                                </div>
                                <div style="float: left;
                                            margin-left: 6px;"
                                     tooltip="<%= get_notice() %>">
                                    <label name="step2_notice"
                                           style="height: 24px;
                                                  width: 300px;
                                                  font-size: 14px;
                                                  base-font-size: 14px;" />
                                </div>
                                <div style="float: left;">
                                    <input type="button"
                                           class="mc_button_blue"
                                           onclick="open_build_world_folder()"
                                           style="color: #FFFFFF;
                                                  margin-top: 0px;
                                                  margin-left: 6px;"
                                           value="..."
                                           tooltip="<%= get_notice() %>" />
                                </div>
                            </div>
                        </pe:container>
                        <pe:container name="p_step3_button"
                                      visible="false"
                                      style="background:;">
                            <div style="padding-left: 30px;
                                        margin-bottom: 5px;">
                                <input type="button"
                                       tooltip="<%= '点击执行：签名生成APK或Xcode工程' %>"
                                       onclick="click_p_step3()"
                                       style="width: 55px;
                                              height: 60.5px;
                                              background: url(Texture/Aries/Creator/paracraft/make_app_32bits.png#137 132 110 121)" />
                                <div style="float:left;
                                            margin-left:5px;">
                                    <input type="button"
                                           name="app_icon"
                                           tooltip="<%= '自动读取世界目录下的icon.png作为应用图标, 点击打开打包用的世界目录添加Icon' %>"
                                           onclick="OnClickOpenIconFolder"
                                           style="width: 64px;
                                                  height: 64px;" />
                                </div>
                            </div>
                        </pe:container>
                        <pe:container name="p_step3_content"
                                      visible="false"
                                      style="background:;">
                            <div style="margin-bottom: 5px;">
                                <div style="float: left;">
                                    <img style="width: 44.1px;
                                                height: 36.4px;"
                                         src="Texture/Aries/Creator/paracraft/make_app_32bits.png#10 148 63 52" />
                                </div>
                                <div style="float: left;
                                            font-size: 14px;
                                            base-font-size: 14px;
                                            width: 300px;
                                            margin-left: 6px;">
                                    <label name="step3_content"
                                           style="height: 24px;" />
                                </div>
                                <div style="float: left;">
                                    <input type="button"
                                           class="mc_button_blue"
                                           onclick="open_temp_folder()"
                                           style="color: #FFFFFF;
                                                  margin-top: 0px;
                                                  margin-left: 6px;"
                                           value="..." />
                                </div>
                            </div>
                        </pe:container>
                        <div style="width: 100px;"
                             align="right">
                             <input type="button"
                                    name="one_click_button"
                                    style="width: 100px;
                                           height: 30px;"
                                    class="mc_button_blue"
                                    onclick="one_click()"
                                    value="<%= L'一键打包' %>" />
                        </div>
                    </div>
                </kp:window>
            </pe:container>
        </pe:mcml>
    </body>
</html>
