<!-- "script/apps/Aries/Creator/Game/Tasks/TeachingQuest/TeachingQuestPage.html" -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
</head>
<body>
	<pe:mcml>
		<script refresh="false" type="text/npl" src="TeachingQuestPage.lua">
			<![CDATA[
			TeachingQuestPage = NPL.load("(gl)script/apps/Aries/Creator/Game/Tasks/TeachingQuest/TeachingQuestPage.lua");
			TeachingQuestPage.OnInit();

			function DS_Items(index)
				if(index == nil) then
					return #TeachingQuestPage.Current_Item_DS;
				else
					return TeachingQuestPage.Current_Item_DS[index];
				end
			end
			]]>
		</script>
		<aries:window mode="thin" style="width:650px;height:430px" title='<%= L"任务列表"%>' onclose="TeachingQuestPage.OnClose">
			<div style="margin:20px;height:0px;color:#ffffff">
				<div>
					<div style="float:left;">
						<%=L"任务类型："%>
						<select name="TaskType" style="height:23px" onselect="TeachingQuestPage.OnSelectTaskType">
							<option value="program" selected="true">编程</option>
							<option value="animation">动画</option>
							<option value="CAD">CAD</option>
						</select>
					</div>
					<div style="float:left;margin-left:230px;">
						<%=L"已解锁世界"%>
						<input type="button" name="unlocked" value='<%=TeachingQuestPage.GetUnlockedTasks()%>' style="color: #ffffff; background:; margin-left:10px;text-align:left;max-width:60px;" />
					</div>
					<div style="float:left;margin-left:10px;">
						<%=L"已完成任务"%>
						<input type="button" name="unlocked" value="<%=TeachingQuestPage.GetFinishedTasks()%>" style="color: #ffffff; background:; margin-left:10px;text-align:left;max-width:60px;" />
					</div>
				</div>
			</div>
			<div>
				<pe:gridview style="margin:0px;width:650px;height:400px;" name="item_gridview" CellPadding="20" VerticalScrollBarStep="36" VerticalScrollBarOffsetX="8" AllowPaging="false" ItemsPerLine="3" DefaultNodeHeight="140"
							 DataSource='<%=DS_Items%>'>
					<Columns>
						<div style="width:180px;height:0px;">
							<input type="button" name='<%= Eval("index")%>' value='<%= TeachingQuestPage.GetTaskTitle(Eval("index"))%>' style="width:180px;height:140px;color:#ffffff;" class="mc_blue_button_with_fillet" onclick="TeachingQuestPage.OnClickItem" />
						</div>

					</Columns>
					<EmptyDataTemplate>
					</EmptyDataTemplate>
				</pe:gridview>
			</div>
		</aries:window>
	</pe:mcml>
</body>
</html>

